<h1><%= @collection.acronym %> - <%= @collection.name %></h1>
<article>
  Total collected: <%= current_user.total_cards_from_collection(@collection) %>/<%= @collection.total_cards %>
</article>

<% @cards.each_slice(6) do |group| %>
  <ul class="grid">
    <% group.each do |card| %>
      <%= render partial: "card", locals: { card: card } %>
    <% end %>
  </ul>
<% end %>
