<h1><%= @collection.acronym %> - <%= @collection.name %></h1>

<%= turbo_stream_from "user_cards_count" %>
<%= turbo_stream_from "user_cards_percentage" %>
<%= turbo_stream_from "card_selections" %>

<div>
  <article>
    <span id="user_cards_count">
    <%= render partial: "cards_total", 
                locals: { 
                  total_collected_cards: current_user.total_cards_from_collection(@collection),
                }
    %>
  </span>
  <span>/ <%= @collection.total_cards %></span>

  <span id="user_cards_percentage" style="background-color: rgb(61, 71, 92); padding: 8px; margin-left: 20px;">
    <%= render partial: "cards_percentage", 
                locals: { 
                  percent: current_user.percentage_cards_from_collection(@collection),
                }
    %>
  </span>
  <%= render partial: "filters" %>
 </article>
</div>

<% @cards.each_slice(6) do |group| %>
  <ul class="grid">
    <% group.each do |card| %>
      <% user_has_card = current_user.has_card?(card) %>
      <%= render partial: "card", locals: { card:, user_has_card: } %>
    <% end %>
  </ul>
<% end %>
