<%= form_with(model: [:admin, collection]) do |form| %>
  <% if collection.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
        <% collection.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :released_at, style: "display: block" %>
    <%= form.date_field :released_at, required: true %>
  </div>

  <div>
    <%= form.label :acronym, style: "display: block" %>
    <%= form.text_field :acronym, required: true %>
  </div>

  <div>
    <%= form.label :total_cards, style: "display: block" %>
    <%= form.number_field :total_cards, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
