<p style="color: green"><%= notice %></p>

<%= render @card %>

<div>
  <%= link_to "Edit this card", edit_admin_collection_card_path(@collection, @card) %> |
  <%= link_to "Back to cards", admin_collection_cards_path(@collection) %>

  <p></p>
  <%= button_to "Destroy this card", admin_collection_card_path(@collection, @card), method: :delete, data: { turbo_confirm: 'Are you sure?' } %>
</div>
