<div id="card-details">
  <dialog id="card-details-modal" open="close" data-controller="modal" > 
    <article>
      <header>
        <button aria-label="Close" rel="prev" data-action="modal#close" data-modal-dialog-param="card-details-modal"></button>
        <p>
          <strong><%= card.name %></strong>
        </p>
      </header>
      <div class="grid">
        <% if card.image.present? %>
          <%= image_tag card.image %>
        <% else %>
          <img src="<%= card.external_image_url %>" width="120" />
        <% end %>
        <div class="card">
          <h2>
            <%= card.name %>
          </p>
          </h2>
            <%= card.collection.name %>
          </p>
          <p>
            <%= card.display_collection_number %>
          </p>
          <div>
            <% if current_user.has_card?(card) %>
              <div><%= button_to "✅", discard_card_path(card), method: :delete, style: "text-decoration: none; text-decoration: none; background: none; border: none; width: 30px; padding: 0;", form_class: "inline-form" %> I have this card! </div>
            <% else %>
              <div><%= button_to "☑", collect_card_path(card), style:  "text-decoration: none; text-decoration: none; background: none; border: none; width: 30px; padding: 0;", form_class: "inline-form" %> I need this card</div>
            <% end %>
            </div>
        </div>
        </div>
    </article>
  </dialog>
</div>
