<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Kupokellector" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" >
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div><%= notice %></div>
    <div><%= alert %></div>

   <main class="container">
    <nav>
      <ul>
        <li><strong><%= link_to 'Kupokellector', root_path %></strong></li>
      </ul>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "Collections", collections_path, class: "contrast" %></li>
          <li><%= current_user.name %></li>
          <li><%= button_to "Logout", session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login", new_session_path, class: "contrast" %></li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
    </main>
  </body>
</html>
